<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button</key>
		<dict>
			<key>frame</key>
			<string>{{0, 228}, {36, 41}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 228}, {36, 41}}</string>
			<key>sourceSize</key>
			<string>{36, 41}</string>
		</dict>
		<key>button_w</key>
		<dict>
			<key>frame</key>
			<string>{{39, 228}, {36, 35}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{39, 228}, {36, 35}}</string>
			<key>sourceSize</key>
			<string>{36, 35}</string>
		</dict>
		<key>cannel</key>
		<dict>
			<key>frame</key>
			<string>{{112, 228}, {32, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{112, 228}, {32, 29}}</string>
			<key>sourceSize</key>
			<string>{32, 29}</string>
		</dict>
		<key>giveup</key>
		<dict>
			<key>frame</key>
			<string>{{146, 228}, {41, 19}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{146, 228}, {41, 19}}</string>
			<key>sourceSize</key>
			<string>{41, 19}</string>
		</dict>
		<key>keyboard</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {320, 149}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 149}}</string>
			<key>sourceSize</key>
			<string>{320, 149}</string>
		</dict>
		<key>shuaxin</key>
		<dict>
			<key>frame</key>
			<string>{{77, 228}, {32, 29}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{77, 228}, {32, 29}}</string>
			<key>sourceSize</key>
			<string>{32, 29}</string>
		</dict>
		<key>title_start</key>
		<dict>
			<key>frame</key>
			<string>{{0, 152}, {320, 73}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>sourceColorRect</key>
			<string>{{0, 152}, {320, 73}}</string>
			<key>sourceSize</key>
			<string>{320, 73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
